.Orders {
  margin-bottom: 200px;
  background-color: white;
  border-radius: 15px;

  .container-breadcrumb {
    padding: 20px;
  }

  .order-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .order-right {
      margin-right: 0px;
      width: 100%;
      position: sticky;
      z-index: 1;
      top: 0;
    }

    .imgContainer {
      /* width: 340px; */
      width: 100%;
      float: left;
      /* border-radius: 10px; */
      max-height: 520px;
      overflow: hidden;
      margin: 10px auto;

      img {
        width: 100%;
        /* max-height: 340px; */
        /* border-radius: 15px 15px 0 0; */
        object-fit: cover;
        height: 500px;
      }
    }

    .order-details {
      margin-top: 500px;
      border-radius: 15px 15px 0 0;
      z-index: 980;
      position: sticky;
      bottom: 0;
      background-color: white;
      margin-left: 0px;
      padding: 40px;

      .order-title {
        color: rgb(35, 56, 139);
        font-family: 'kulristaBold', sans-serif;
        font-size: 30px;
        font-weight: 700;
        text-transform: capitalize;
      }

      .order-description {
        margin: 20px 0 25px 0;
        color: rgb(10, 38, 60);
        font-family: 'kulristaRegular', sans-serif;
        font-size: 14px;
        font-weight: 100;
      }

      .items-container {
        padding: 15px;
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
      }
    }
  }

  .accordion-container {
    .accordion-header {
      display: flex;
      justify-content: space-between;
      border-bottom: 1px solid rgb(112, 112, 112);
      padding: 5px 0;
      align-items: center;

      .left-title {
        display: flex;
      }

      .circle {
        background-color: rgb(255, 181, 0);
        width: 23px;
        height: 23px;
        display: flex;
        justify-content: center;
        align-items: center;
        color: black;
        border-radius: 50%;
        margin-right: 10px;
      }

      .icon {
        width: 50px;
        height: 50px;
        color: rgb(33, 56, 139);
      }
    }

    .title {
      color: rgb(33, 56, 139);
      font-family: 'din', sans-serif;
      font-size: 24px;
      font-weight: 700;
      text-transform: uppercase;
    }
  }
}

.orders-low-bar {
  position: fixed;
  bottom: 0;
  z-index: 999;
  width: 100%;
  height: 80px;
  background-color: rgb(246, 247, 248);
  box-shadow: 0 0 6px -3px #000;

  .low-bar-content {
    padding: 0 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;

    .low-bar-flex {
      display: block;
      width: 30%;
      justify-content: right;
      align-items: center;
      gap: 15px;
      margin-right: 10px;

      .low-bar-text {
        display: none;
        font-family: 'kultristaRegular';
        font-size: 12px;
        text-transform: uppercase;
        padding-bottom: 6px;
        margin-right: 10px;
        font-weight: 600;
      }
    }

    .low-bar-right {
      width: 70%;
      text-align: center;

      .acum-points {
        font-size: 13px;
        color: #e10b19;
        font-family: 'kulristaRegular';
        padding-top: 5px;
        /* padding-left: 60px; */
        text-align: center;
      }
    }

    .low-bar-flex-container {
      display: flex;
      width: 100%;
      height: 100%;
      align-items: center;
    }
  }
}

@media (min-width: 1000px) {
  .Orders {
    .order-container {
      display: flex;
      flex-direction: row;
      align-items: flex-start;
      justify-content: end;
      /* height: 100vh; */
      position: relative;
      overflow-y: hidden;

      .order-right {
        margin-right: 0;
        display: block;
        height: 100%;
        width: 35%;
        position: absolute;
        top: 0px;
        left: 0;
      }

      .imgContainer {
        margin: 30px 50px;
        width: 340px;
        border-radius: 10px;
        max-height: 340px;

        img {
          border-radius: 15px 15px 0 0;
          max-height: 340px;
        }
      }

      .order-details {
        width: 60%;
        background-color: white;
        padding: 20px;
        display: block;
        margin-top: 0;
        z-index: 1;
        position: relative;
        top: 0;
        overflow-y: scroll;
        height: 100vh;
      }
    }
  }

  .orders-low-bar {
    .low-bar-content {
      .low-bar-flex {
        display: flex;
        margin-right: 80px;
        width: 60%;

        .low-bar-text {
          display: block;
        }
      }

      .low-bar-right {
        width: 40%;
        text-align: left;

        .acum-points {
          padding-left: 60px;
          text-align: left;
        }
      }
    }
  }
}