.Header {
  margin: 0;
  padding: 0;

  .topBar {
    padding: 10px 2px;

    .icon__logo {
      height: 60px;
      cursor: pointer;

      .fill-blue {
        fill: #21388b;
      }
    }

    .fill-white {
      fill: rgb(33, 56, 139);
    }
  }

  .imgContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    max-height: 57px;
    width: 100%;

    img {
      max-height: 57px;
    }
  }

  .grid {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    align-content: center;
    justify-content: center;
  }

  .flex {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .flex-around {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .container-m {
    width: 420px;
    margin: 0 auto;
  }

  .hamburguer {
    height: 30px;
    cursor: pointer;
  }

  .none-m {
    display: none;
  }
}

@media (min-width: 1024px) {
  .Header {
    img {
      width: 100%;
    }

    .imgContainer {
      display: flex;
      align-items: center;
      justify-content: center;
      overflow: hidden;
      max-height: 57px;
      width: 100%;
      background-color: black;
      border: 1px solid black;

      img {
        max-height: 57px;
        max-width: 1121px;
        margin: 0 auto;
      }
    }
    .flex {
      display: flex;
      align-items: center;
    }

    .container-m {
      max-width: 1200px;
      width: 100%;
      margin: auto;
    }

    .display-d {
      display: block;
    }
    .topBar {
      background-color: rgb(23, 48, 131);

      .icon__logo {
        .fill-blue {
          fill: white;
        }
      }

      .grid {
        display: grid;
        grid-template-columns: 5fr 3fr;
        align-items: center;
      }

      .fill-white {
        fill: white;
      }

      .none-d {
        display: none;
      }

      .phone {
        margin: 0 10px;
        cursor: pointer;
      }

      .textDelivery {
        color: rgb(251, 185, 5);
        font-size: 16px;
        font-weight: 300;

        span {
          margin-left: 5px;
          font-size: 14px;
          font-weight: 400;
          color: white;
        }

        select {
          background-color: transparent;
          border: none;
          color: white;
        }
      }

      .phoneNumber {
        color: white;
        font-size: 24px;
        font-weight: 300;
      }

      .login {
        margin-left: 15px;

        .login-icon {
          margin-right: 10px;
        }

        .loginText {
          color: white;
          font-size: 18px;
        }
      }
    }
  }
}
