.NavBarComponent {
  background-color: #21388b;
  padding: 10px;
  position: absolute;
  z-index: 999;
  top: 0;
  left: 0;
  width: 80%;
  height: 100vh;
  max-width: 350px;
  min-width: 250px;
  

  .navBarHeader {
    margin-bottom: 50px;
    padding: 10px 20px;
  }

  .flex {
    display: flex;
    justify-content: center;
    gap: 20px;
  }

  .socMedia {
    margin-top: 60px;
  }

  .flex-between {
    display: flex;
    justify-content: space-between;
  }

  li {
    text-decoration: none;
    list-style: none;
    cursor: pointer;
  }

  .navList {
    text-align: center;

    li {
      font-size: 30px;
      color: #fff;
      text-transform: uppercase;
      padding: 15px 0;
      font-family: var(--din);
      font-weight: 100;
    }
  }

  .btnClose {
    position: absolute;
    top: 0;
    left: 100%;
    background-color: #192e7a;
    padding: 20px;
    cursor: pointer;
  }

  .circle {
    cursor: pointer;
  }
}
