:root {
  --black: #000;
  --blue: #173083;
  --blueText: #011689;
  --yellow:#fbb905;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  max-width: 1200px;
  width: 100%;
  margin: auto;
}